
   <head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  
  </head>   
  <div class="a">

    <!-- <div class="container-fluid"> -->
    <div class="row ">
    <div class="col-md-4"></div>
<div class="col-md-6 " style="width: 25rem;">


      <div class="card discord">

<div class=" discord" >

    <h1 style="font-size: 70px;text-align: center;">Welcome Admin !</h1>

    <p class="demo">

        From here you can manage all core Internet Banking settings. You can add/manage 
        customers, view their transactions, edit their details and even delete them. You 
        can also post news on the website.
        Please keep in mind that with big power comes big responsibility . Therefore please do not
        misuse your admin control to create trouble.
    
    </p> 
    

</div>
</div>
</div>
</div>
<!-- </div> -->
</div>
