
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  
  </head>   
  <div class="a">

    <!-- <div class="container-fluid"> -->
    <div class="row ">
    <div class="col-md-4"></div>
<div class="col-md-6 " style="width: 25rem;">


      <div class="card discord">

<div class=" discord" >

    <div class="b">
        <h4 style="font-size: 50px;">News Posted successfully</h4>
        <button type="button" class="btn btn-success" routerLink="/postnews" style="margin-top: 50px;font-size: 40px" > Post Again</button>
        </div>
        
        

</div>
</div>
</div>
</div>
<!-- </div> -->
</div>