
<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>   
<div class="a">

  <!-- <div class="container-fluid"> -->
  <div class="row ">
    
  <div class="col-md-4"></div>
<div class="col-md-6 " style="width: 25rem;">


    <div class="card discord">

<div class=" discord" >
  <label class="font-weight-bold">To:</label>

  <input type="text"class="form-control" [(ngModel)]="beneficiaries.accountno">
  <label class="font-weight-bold">Account No:</label>
  <input type="text"class="form-control" >
  <label class="font-weight-bold">Enter Amount(in INR):</label>
  <input type="text"class="form-control">
  <label class="font-weight-bold">Enter your password:</label>
  <input type="password" class="form-control">
  <br>
  <br>
  <br>
 
  <button type="submit" class="btn btn-success btn-lg mr-5"  routerLink="/mytransactions">Submit</button>
  <button type="submit" class="btn btn-primary btn-lg mr-5" routerLink="/customergrive" >Go Back</button>
  <button type="submit" class="btn btn-success btn-lg mr-5" (click)="reset()" >Reset</button>
 
</div>
</div>
</div>
</div>
</div>

<div class="footer">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-3">
  
     <div class="footerleft">
    <h3>Disclaimer</h3>
    <br>
    <h3>Privacy Policy</h3>
    <br>
    <h3>Code of Commitment</h3>
    <br>
    <h3>Responsible Disclosure Policy</h3>
    
    </div>
  </div>
    <div class="col-md-3">
    <h1  style="font-size:30px ;padding-top: 20px;">  
      <a href="https://www.rbi.org.in/scripts/BS_PressReleaseDisplay.aspx?prid=21110">
    RBI:Beware of Fictitious Offers/Lottery Winnings/Cheap Fund Offers 
  </a>
  <br><br>
  Please do not believe any entity using Axis Bank logos & branding to request the public for money in exchange for opening a Customer Service Point.
  <br><br>
  <h3>Copyright © 2020Axis Bank</h3>
  </h1>
  
  </div>
      <div class="col-md-3">
    <div class="footercomm">
    <b>
      Connect with Community
    </b>
      <br>
      <div class="symbols">
      <a href="https://www.instagram.com/" class="fa fa-instagram" ></a><br>
      <a href="https://www.instagram.com/" class="fa fa-youtube"></a><br>
      <a href="https://www.facebook.com/axisbank/" class="fa fa-facebook"></a><br>
       <a href="http://www.twitter.com/" class="fa fa-twitter"></a>
      </div>
      </div>
    </div>
    <div class="col-md-3">
      
      About Us:
      
  Call: 1800-419-5959
  SMS BAL to 56161600 or +918691000002
  to get your Account Balance
  <br>
  Call: 1800-419-6969
  SMS MINI to 56161600 or +918691000002
  to get your Mini Statement
   
  </div>
  </div>
  </div>
  </div>



















