
   
 <head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  
  </head>   
  <div class="a">
  
    <div class="row ">
    <div class="col-md-1"></div>
  
  
      <div class="card discord">
  
  <div class=" discord" >
  
   
    <form   #regForm="ngForm" >
      <div class="row"  >
          <div class="col-md-5">
              <label class="font-weight-bold">First Name:</label>
              <input type="text"class="form-control"  id="firstname" name="firstname" [(ngModel)]="customer.firstname" disabled>
          <label class="font-weight-bold">Last Name:</label>
          <input type="text"class="form-control "   id="lastname"  name="lastname" [(ngModel)]="customer.lastname" disabled>
          <label class="font-weight-bold" >Opening Balance:</label>
          <input type="text"class="form-control" id="openingbalance" name="openingbalance"  [(ngModel)]="customer.openingbalance" disabled>
          <label class="font-weight-bold">Gender:</label>
          <input type="text"class="form-control"  id="gender" name="gender" [(ngModel)]="customer.gender" disabled>
          <label class="font-weight-bold">Date of Birth:</label>
          <input type="date"class="form-control" id="dob" name="dob" [(ngModel)]="customer.dob" disabled >
          <label class="font-weight-bold">Password:</label>
          <input type="password" class="form-control" id="password" name="password" [(ngModel)]="customer.password" disabled>
          <label class="font-weight-bold">accountno:</label>
          <input type="text" class="form-control" id="accountno" name="accountno" [(ngModel)]="customer.accountno" disabled >
  </div>
  <div class="col-md-1">
  
  </div>
  <div class="col-md-5">
      
  <label class="font-weight-bold">Aadhar No:</label>
  <input type="text"class="form-control" id="aadaharno" name="aadaharno"  [(ngModel)]="customer.aadaharno" disabled>
  <label class="font-weight-bold">Address:</label>
  <input type="text"class="form-control" id="address"  name="address" [(ngModel)]="customer.address" disabled>
  <label class="font-weight-bold">Bank Branch:</label>
  <input type="text"class="form-control" id="bankbranch" name="bankbranch" [(ngModel)]="customer.bankbranch" disabled>
  <label class="font-weight-bold">PIN(4 digit):</label>
  <input type="text"class="form-control" id="pin" name="pin" [(ngModel)]="customer.pin" disabled>
  <label class="font-weight-bold">Username:</label>
  <input type="text"class="form-control"  id="username" name="username" [(ngModel)]="customer.username" disabled>
  <label class="font-weight-bold">Email:</label>
  <input type="email" class="form-control" id="emailid" name="emailid" [(ngModel)]="customer.emailid" disabled>
  
  </div>
  
  </div>
  
  </form> 
  
  </div>
  </div>
  </div>
  </div>
  
  