
 <head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  
  </head>   
  <div class="a">
  
    <!-- <div class="container-fluid"> -->
    <div class="row ">
    <div class="col-md-4"></div>
  <div class="col-md-6 " style="width: 25rem;">
  
  
      <div class="card discord">
  
  <div class=" discord" >
  
        <label for="comment"><h1 style="padding-top: 100px;"><b>Enter the changes you want in your profile:</b></h1></label>
        <textarea  rows="3" id="comment" style="font-size: 25px; width: 900px;"></textarea>
    
    
    
    <button type="submit" class="btn btn-success btn-lg mr-5" routerLink="/postmsg" >Submit</button>
    <button type="button" class="btn btn-primary btn-lg "> Reset
  
    </button>
  
  </div>
  </div>
  </div>
  </div>
  <!-- </div> -->
  </div>