
<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<div class="row">
    <!-- <div class="column">
        <div class="card">
          <img src="../../assets/manager2.jpg" alt="Mike" style="width:100% " >
          <div class="container">
            <h1>Amitab Chaudhary</h1>
            <p class="title" style="color: black;">Managing Director & CEO</p>
            <p>Mr. Amitabh Chaudhry is the Managing Director and Chief Executive Officer of Axis Bank.
                He joined the bank in January 2019, after successfully leading HDFC Life for nine years & has taken over as the Executive Director</p>
           
          </div>
        </div>
      </div>
     -->


      <div class="column">
        <div class="container">
          <div class="flip-box">
            <div class="flip-box-inner">
              <div class="flip-box-front">
                <img src="../../assets/manager2.jpg" alt="Mike" style="width:100% " >
                <h1>Amitab Chaudhary</h1>
              </div>
              <div class="flip-box-back">
                <h1>Amitab Chaudhary</h1>
                <p class="title" style="color: black;">Managing Director & CEO</p>
            <p>Mr. Amitabh Chaudhry is the Managing Director and Chief Executive Officer of Axis Bank.
                He joined the bank in January 2019, after successfully leading HDFC Life for nine years & has taken over as the Executive Director</p>
           
              </div>
            </div>
          </div>
        </div>
    </div>










  <div class="column">
      <div class="container">
        <div class="flip-box">
          <div class="flip-box-inner">
            <div class="flip-box-front">
              <img src="../../assets/2ndp.jpg" alt="Mike" style="width:100%">
              <h1>Rajesh Dahiya</h1>
            </div>
            <div class="flip-box-back">
              <h1>Rajesh Dahiya</h1>
              <p class="title" style="color: black;">Executive Director(Corporate Center)</p>
        <p>Mr. Rajesh Dahiya is an Engineer with a Masters in Human Resources Management. With over 25 years of experience, he was the Group Executive & Head-Corporate Centre at Axis Bank,</p>
            </div>
          </div>
        </div>
      </div>
    </div>



 
  <div class="column">
    <div class="container">
      <div class="flip-box">
        <div class="flip-box-inner">
          <div class="flip-box-front">
            <img src="../../assets/3rdp.jpg" alt="John" style="width:100%">
            <h1>Rajesh Dahiya</h1>
          </div>
          <div class="flip-box-back">
            <h1>Rajiv Anand</h1>
            <p  class="title" style="color: black;">Executive Director(Wholesale Banking)</p>
        <p>Mr. Anand is a rank holding qualified Chartered Accountant and holds a Bachelor’s degree in Commerce. He has over 28 years of experience in the financial services industry</p>
          </div>
        </div>
      </div>
    </div>
</div>







<!-- 

  <div class="column">
    <div class="card">
      <img src="../../assets/3rdp.jpg" alt="John" style="width:100%">
      <div class="container">
        <h1>Rajiv Anand</h1>
        <p class="title">Executive Director(Wholesale Banking)</p>
        <p>Mr. Anand is a rank holding qualified Chartered Accountant and holds a Bachelor’s degree in Commerce. He has over 28 years of experience in the financial services industry</p>
      </div>
    </div>
  </div> -->

<!-- <div class="column">
    <div class="card">
      <img src="../../assets/4thp.jpg" alt="John" style="width:100%">
      <div class="container">
        <h1>Deepak Maheshwari</h1>
        <p class="title" style="color: black;">Group Executive and Chief Credit Officer</p>
        <p>Mr. Deepak Maheshwari is the Group Executive and Chief Credit Officer of the Bank since January, 2019 and is responsible for credit underwriting, policy and monitoring. </p>
      </div>
    </div>
  </div> -->


  <div class="column">
    <div class="container">
      <div class="flip-box">
        <div class="flip-box-inner">
          <div class="flip-box-front">
            <img src="../../assets/4thp.jpg" alt="John" style="width:100%">
            <h1>Deepak Maheshwari</h1>
          </div>
          <div class="flip-box-back">
            <h1>Deepak Maheshwari</h1>
            <p class="title" style="color: black;">Group Executive and Chief Credit Officer</p>
            <p>Mr. Deepak Maheshwari is the Group Executive and Chief Credit Officer of the Bank since January, 2019 and is responsible for credit underwriting, policy and monitoring. </p>
          </div>
        </div>
      </div>
    </div>
</div>
</div>


<br>
<br>
<br>
<br>
<br>
<br>














<!--   
<div class="footer">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-3">
  
     <div class="footerleft">
    <h3>Disclaimer</h3>
    <br>
    <h3>Privacy Policy</h3>
    <br>
    <h3>Code of Commitment</h3>
    <br>
    <h3>Responsible Disclosure Policy</h3>
    
    </div>
  </div>
    <div class="col-md-3">
    <h1  style="font-size:30px ;padding-top: 20px;">  
      <a href="https://www.rbi.org.in/scripts/BS_PressReleaseDisplay.aspx?prid=21110">
    RBI:Beware of Fictitious Offers/Lottery Winnings/Cheap Fund Offers 
  </a>
  <br><br>
  Please do not believe any entity using Axis Bank logos & branding to request the public for money in exchange for opening a Customer Service Point.
  <br><br>
  <h3>Copyright © 2020Axis Bank</h3>
  </h1>
  
  </div>
      <div class="col-md-3">
    <div class="footercomm">
    <b>
      Connect with Community
    </b>
      <br>
      <div class="symbols">
      <a href="https://www.instagram.com/" class="fa fa-instagram" ></a><br>
      <a href="https://www.instagram.com/" class="fa fa-youtube"></a><br>
      <a href="https://www.facebook.com/axisbank/" class="fa fa-facebook"></a><br>
       <a href="http://www.twitter.com/" class="fa fa-twitter"></a>
      </div>
      </div>
    </div>
    <div class="col-md-3">
      
      About Us:
      
  Call: 1800-419-5959
  SMS BAL to 56161600 or +918691000002
  to get your Account Balance
  <br>
  Call: 1800-419-6969
  SMS MINI to 56161600 or +918691000002
  to get your Mini Statement
   
  </div>
  </div>
  </div>
  </div>
   -->
  